.search {
    background-color: transparent;
    border: 0.5px solid var(--font-color);
    width: 200px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    
}

.search::placeholder {
    color: var(--font-color);
}

.movie {
    width: 270px;
    height: 400px;
    margin: 8px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

.cs-horizontal {
    width: 450px;
    height: 250px;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar label {
    color: #eee;
}

.search-bar #search-content {
    padding: 0px 10px;
    color: var(--font-color);
    font-size: 20px;
}

.search-bar #search-content:hover {
    color: var(--icon-color);
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    height: 90px;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
    font-size: 16px;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 100%;
    font-weight: bold;
}

.info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 100%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    left: 20px;
    right: 20px;
    text-align: center;
    opacity: 1;
}

.overview h3{
    color: var(--title-color);
}

.movie:hover img {
    opacity: 0.4;
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
    transform: scale(1.2)
}
.btn {
    display: inline-block;
    font-size: 14px;
}

.btn:hover {
    transform: scale(1.2);
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    border-radius: 50%;
    border: none!important;
    color: black;
    background-color: var(--title-color);
}

#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag {
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.highlight {
    background-color: red;
}

.no-results {
    color: white;
}

/* .pagination {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

.page {
    padding: 20px;
    cursor: pointer;
}

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.current {
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    font-size: 16px;
    background-color: var(--header-bg);
    text-align: center;
} */

.know-more {
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
}

.cs-bold {
    font-weight: bold;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.embed.hide {
    display: none;
}

.embed.show {
    display: inline-block;
}

.arrow {
    position: absolute;
    font-size: 40px;
}

.arrow.left-arrow {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}


.arrow.right-arrow {
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.dots {
    margin-top: 30px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.dots .dot.active {
    border-color: orange;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 25px;
    width: 60%;
    font-family: monospace;
    font-size: 16px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}