@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(0, 5, 21);
    --secondary-color: rgba(0, 82, 204, 0.686);
    --font-color: rgb(115, 155, 214);
    --button-color: rgb(0, 33, 96);
    --title-color: rgb(255, 255, 255);
    --header-bg: rgb(14 19 38);
    --icon-color: rgb(255, 202, 42);
    --tran-color: rgba(89, 89, 89, 0.459);
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Width of the vertival scrollbar */
    height: 8px; /* Width of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: none; /* Background color of the track */
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(45, 54, 85, 0.4); /* Color of the scrollbar thumb */
    border-radius: 8px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 65, 105); /* Color of the scrollbar thumb on hover */
}

body {
    color: var(--font-color);
    /* background-color: var(--primary-color); */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* background-image: linear-gradient(black, transparent), url(../img/top-bg.png); */
    background-color: var(--primary-color);;
    opacity: 1;
    background-image:  radial-gradient(#001465 1.1px, transparent 1.1px), radial-gradient(#001465 1.1px, var(--primary-color) 1.1px);
    background-size: 44px 44px;
    background-position: 0 0,22px 22px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

header {
    color: var(--font-color);
    padding: 0 14px;
    font-size: 16px;
    background-color: rgb(14 19 38);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 999;
}

fieldset {
    border-radius: 20px;
    border-color: var(--font-color);
    margin: 0px 20px;
    margin-bottom: 20px;
}

fieldset:hover {
    border-color: var(--icon-color);
}

legend {
    color: var(--font-color);
    font-size: 20px;
    margin: 0px 20px;
    padding: 0px 10px;
}

select {
    width: auto;
    height: 30px;
    background: none;
    color: var(--title-color);
    font-size: 15px;
    border: none;
    margin-right: 10px;
    font-family: inherit;
}

select:focus-visible {
    outline: none;
}

option {
    background-color: var(--primary-color);
    outline: none;
}

textarea {
    width: 100%;
    background: none;
    border: none;
    color: var(--title-color);
    resize: none;
    font-family: inherit;
    font-size: inherit;
    margin: 10px 0px 10px 0px;
}

textarea:focus-visible {
    outline: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.cs-head {
    display: inline-flex;
    align-items: center;
}

.cs-head img {
    height: 1.1rem;
    margin-right: 8px;
}

.cs-head label {
    font-weight: 400;
    letter-spacing: 3px;
    color: #6ed5fe;
}

header .sty-head-mid {
    margin: 0 auto;
    max-width: 45rem;
    width: 50%;
}

footer {
    color: var(--font-color);
    padding: 0 14px;
    font-size: 14px;
    background-color: rgb(14 19 38);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
    display: flex;
    align-items: center;
    height: 50px;
    z-index: 999;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cs-menu {
    display: inline;
    float: right;
    color: var(--font-color);
}

.cs-menu span:hover {
    color: var(--icon-color);
}

.cs-hide {
    display: none;
}

.cs-cur {
    cursor: pointer;
}

.cs-fCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cs-flex {
    display: flex;
    align-items: center;
}

.cs-cflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cs-flex-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs-frag-30 {
    width: 30%;
}

.cs-frag-70 {
    width: 70%;
}

.cs-lmar {
    margin-left: 10px;
}

.cs-rmar {
    margin-right: 10px;
}

.cs-rsmar {
    margin-right: 5px;
}

.cs-tmar {
    margin-top: 10px;
}

.cs-bmar {
    margin-bottom: 10px;
}

.cs-lrmar {
    margin-right: 20px;
}

.cs-overview {
    height: 590px;
    color: var(--title-color);
    flex-direction: row;
}

.cs-backdrop-poster {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.cs-contents {
    position: absolute;
    top: 6px;
    width: 100%;
}

.cs-content {
    z-index: 5;
    font-size: 12px;
    font-family: arial;
    font-weight: 600;
    color: var(--font-color);
    display: inline-block;
    padding: 3px 6px;
    margin: 0px 4px;
    border-radius: 4px;
    background: var(--primary-color);
}

.sty-content-card {
    width: 270px;
    height: 400px;
    margin: 8px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

.sty-content-card img {
    width: 100%;
}

.sty-content-card:hover img {
    opacity: 0.4;
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
    transform: scale(1.2)
}

.sty-content-card:hover .overview {
    display: block;
}

.color-orange {
    color: orange;
}

.color-red {
    color: red;
}

.cs-postermax {
    width: 320px;
    height: 480px;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

.cs-postermax img {
    width: 100%;
}

.cs-hover:hover {
    transform: scale(1.1);
}

.cs-btn-max {
    display: inline-block;
    height: 40px;
    width: auto;
    padding: 0px 18px;
    border-radius: 40px;
    background: var(--tran-color);
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.cs-btn-max span {
    padding-left: 8px;
}

.cs-btn-round {
    width: 40px;
    padding: 0px;
}

.cs-btn-rbox {
    width: 40px;
    padding: 0px;
    border-radius: 10px;
}

.cs-icon-hover:hover {
    color: var(--icon-color);
}

.cs-lbpad {
    padding: 0px 0px 20px 0px;
}

.cs-ltpad {
    padding: 20px 0px 0px 0px;
}

.cs-lrpad {
    padding: 0px 20px;
}

.cs-f26 {
    font-size: 26px;
}

.cs-title-head h3 {
    margin: 0px;
    font-size: 30px;
}

.cs-title-head .con-tag {
    display: block;
    font-size: 16px;
    color: rgb(176, 176, 176);
    padding-bottom: 8px;
}


.cs-icon i {
    padding-right: 10px;
    color: var(--icon-color);
}

.cs-popover {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(4, 0, 32, 0.8);
}

.cs-popOverScreen {
    display: inline;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    font-size: 16px;
}

.cs-user-dialog {
    display: inline;
    font-size: 16px;
}

.cs-dialog-close {
    position: relative;
    top: -40px;
    right: -40px;
    float: right;
    font-size: 30px;
}

.cs-dialog-close:hover i {
    color: red;
}

.cs-dialog-close i {
    color: var(--font-color);
}

.cs-toggle {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.cs-toggle input {
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: var(--primary-color);
    outline: none;
    transition: 0.25s;
}

.cs-toggle input::before,
.cs-toggle input::after {
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.cs-toggle input::before {
    content: "Movie";
    left: 20px;
}

.cs-toggle input::after {
    content: "Series";
    right: 20px;
}

.cs-toggle label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 20px;
}

.cs-toggle input:checked::after,
.cs-toggle input:checked::before {
    color: black;
    transition: color 0.5s;
}

.cs-toggle input:checked+label {
    left: 10px;
    right: 100px;
    background: var(--font-color);
    transition: left 0.5s, right 0.4s 0.2s;
}

.cs-toggle input:not(:checked) {
    background: var(--primary-color);
    transition: background 0.2s;
}

.cs-toggle input:not(:checked)::before {
    color: var(--font-color);
    transition: color 0.5s;
}

.cs-toggle input:not(:checked)::after {
    color: black;
    transition: color 0.5s 0.2s;
}

.cs-toggle input:not(:checked)+label {
    left: 100px;
    right: 10px;
    background: var(--font-color);
    transition: left 0.4s 0.2s, right 0.5s, background 0.2s;
}

.cs-cast {
    margin-right: 20px;
}

.cs-cast span {
    display: inline-grid;
    margin-left: 8px;
}

.cs-cast .role {
    font-size: 12px;
    color: var(--icon-color);
}

.cs-cast .name {
    font-size: 15px;
    color: var(--title-color);
}

.cs-tabs button {
	margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 30px;
    background: none;
    border: none;
    color: var(--font-color);
    font-family: inherit;
}

.cs-tabs button:hover{
	color: var(--icon-color);
}

.cs-tabs button.active{
	color: var(--icon-color);
	border-bottom: 2px solid var(--icon-color);
}

.cs-input {
    border: none;
    color: var(--title-color);
    font-family: inherit;
    width: auto;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .0);
}

.cs-section {
    margin: 0px 25px;
}

.cs-float-right {
    float: right;
}

.cs-float-left {
    float: left;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* Hide the scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel .carousel-hr {
    flex: 0 0 450px;
    margin-right: 10px;
}

.carousel .carousel-vr {
    flex: 0 0 270px;
    margin-right: 10px;
}

.carousel .carousel-hr img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel .carousel-vr img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.sty-poster-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: blur(8px);
    opacity: .2;
}

/* Share Button */
.sty-share-container {
    display: inline-flex;
    padding: 15px;
    background: rgb(57 62 105 / 50%);
    border-radius: 20px;
}

.sty-button {
    display: inline-block;
    text-align: center;
    padding: 13px 13px;
    line-height: 0px;
    border-radius: 25px;
    background: rgba(0, 8, 34, 0.5);
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.sty-button img {
    height: 25px;
}

.sty-title {
    display: inline-grid;
    border-left: 2px solid var(--icon-color);
    padding: 0px 10px;
}

.sty-title .sty-t1 {
    color: var(--icon-color);
}

.sty-title .sty-t2 {
    margin: 0 !important;
    font-size: 14px;
}

.sty-copy-url {
    background: none;
    border: 1px solid var(--font-color);
    border-radius: 12px;
    font-family: inherit;
    height: 40px;
    color: var(--font-color);
    padding: 0px 20px 0px 20px;
    width: 85%;
}

.sty-anti-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.sty-hi:hover {
    color: var(--icon-color);
}

.sty-player-wizard {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.sty-server-cont {
    margin-right: 10px;
    width: 30%;
}

.sty-server-header {
    padding: 8px;
    background-color: #007eff36;
    border-radius: 10px;
    color: var(--title-color);
}

.sty-server {
    padding: 10px;
    background-color: #1a253cbd;
    border-radius: 10px;
    margin: 5px;
    color: var(--title-color);
    cursor: pointer;
}

.sty-server.active, .sty-episode.active {
    color: var(--icon-color);
}

.sty-server:hover {
    transform: scale(1.025);
    color: var(--icon-color);
}

.sty-player-bg {
    height: 100%;
    width: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sty-player-bg .sty-player-txt {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sty-player-bg .sty-player-txt i {
    font-size: 50px;
}

.sty-tran-hover:hover {
    background-color: var(--secondary-color);
}

.sty-content-details {
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: 30% auto;
}

.sty-merge {
    grid-column-start: 1;
    grid-column-end: 3;
}

.sty-i-color {
    color: rgb(255 255 255 / 75%);
}

.sty-side-menu {
    height: 100%;
    width: 20%;
    position: fixed;
    padding: 20px 0;
    z-index: 1000200;
    opacity: 0;
    right: 0;
    top: 0;
    background-color: var(--header-bg);
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(100%);
    color: #818181;
  }

.sty-side-menu.active {
    opacity: 1;
    transform: translateX(0);
}
  
.sty-side-menu-list {
    position: relative;
    width: 100%;
    text-align: center;
}

.sty-side-menu-list a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.5s;
}

.sty-side-menu a:hover,
.sty-side-menu a:focus {
    color: var(--icon-color);
}

.sty-side-menu-head {
    text-align: center;
    padding: 10px 0;
}

.sty-side-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36,36,40,.8);
    z-index: 100;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none
}

.sty-side-overlay.active {
    display: block
}

.sty-head-search {
    border: 0.5px solid rgb(37 48 64);
    border-radius: 10px;
    padding: 0 8px;
    background-color: rgb(12 15 25);
    display: flex;
    align-items: center;
}

.sty-head-search .sty-search {
    background-color: transparent;
    border: none;
    padding: 8px 0px;
    color: #fff;
    font-family: inherit;
    outline: none;
    flex-grow: 1;
}

.sty-head-search .sty-search:focus {
    outline: none;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.sty-player-sec {
    
    transition: 0.5s;
}

.sty-player-sec .sec {
    width: 100%;
    background-color: var(--header-bg);
    padding: 8px 0;
}

.sty-player-sec .sty-bg {
    height: 100%;
    overflow: hidden;
}

.sty-player-sec .sty-bg img {
    height: 100%;
}

.sty-ply-container {
    height: 500px
}

.sty-player-sec .sty-ser-container {
    border-radius: 0 0 10px 10px;
}

.sty-episode-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.sty-episode {
    padding: 8px 10px;
    background-color: var(--tran-color);
    border-radius: 5px;
    color: var(--title-color);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sty-episode:hover{
    color: var(--icon-color);
}

.sty-episode .count {
    color: #7999ff;
}

/* Search Suggestion */
.sty-sugg {
    /* top: 65px; */
    display: none;
    width: 100%;
    max-width: inherit;
    position: absolute;
    background: #20242d;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
    overflow: hidden;
    /* padding: 1rem 0 0; */
    /* margin-top: -1rem; */
    z-index: 1;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid #2b303c;
}

.sty-sugg-body {
    max-height: 360px;
    overflow-y: scroll;
}

.sty-sugg-body .sty-sugg-entity {
    display: flex;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #20242d;
    transition: background .3s;
    background: #2b303c;
    position: relative;
}

.sty-sugg-body .sty-sugg-entity .sty-sugg-poster{
    width: 2.5rem;
    margin-right: 0.7rem;
    flex-shrink: 0;
    overflow: hidden;
}

.sty-sugg-poster div {
    position: relative;
    padding: 72% 0;
}

.sty-sugg-poster div img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.sty-sugg-body .sty-sugg-entity .sty-sugg-info {
    width: 1px;
    flex-grow: 1;
}

.sty-sugg-body .sty-sugg-entity .sty-sugg-info h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color .3s;
    color: #cfd9d9;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.sty-sugg-body .sty-sugg-entity .sty-sugg-info span:not(:last-child) {
    margin-right: 0.7rem;
}

.sty-sugg-body .sty-sugg-entity .sty-sugg-info span {
    display: inline-block;
    font-size: .9rem;
    color: #607a7c;
}

.sty-sugg-foot {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .sty-foot-mid {
    margin: 0 auto;
    max-width: 45rem;
    width: 50%;
    display: flex;
    justify-content: center;
}

.sty-sec-title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    color: var(--title-color);
}

body.sty-model-open {
    overflow: hidden;
}

.sty-creator-card {
    width: 200px;
    height: 360px;
    margin: 8px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--tran-color);
    position: relative;
    overflow: hidden;
}

.sty-creator-card img {
    width: 100%;
}

.sty-creator-card .cr-name {
    margin: 1px 0;
    font-size: 14px;
    color: var(--title-color);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.sty-creator-card .cr-role {
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.sty-creator-card:hover img {
    opacity: 0.4;
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(3px);
}

.sty-creator-card:hover .overview {
    display: block;
}

.sty-navigation {
    align-items: center;
    margin-top: 1.9rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    overflow: auto;
}

.sty-navigation .sty-pagination {
    margin: 0
}

.sty-navigation .sty-pagination .page-item .page-link {
    border-radius: .5rem;
    height: 2.5rem;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    font-weight: 600
}

.sty-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .5rem
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 0;
    line-height: 1.25;
    color: #b2c2c3;
    background-color: transparent;
    border: 0 solid transparent
}

.page-link:hover {
    z-index: 2;
    color: #fefefe;
    text-decoration: none;
    background-color: #2b313c;
    border-color: transparent
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(95, 139, 243, 0.25)
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem
}

.page-item.active .page-link {
    z-index: 3;
    color: var(--header-bg);
    background-color: var(--font-color);
    border-color: var(--font-color);
}

.page-item.disabled .page-link {
    color: #607a7c;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
    border-color: transparent
}

.sty-fcolor {
    color: var(--title-color);
}

.sty-batch-sm {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    background: #333;
}

.sty-batch-sm.sty-rating {
    background: var(--icon-color);
    color: var(--primary-color);
}

.sty-batch-sm.sty-rating .r-rate {
    font-weight: 800;
    margin-left: 4px;
}

.sty-before::before {
    content: "•";
    padding: 0 5px;
    font-style: normal;
}

@media (max-device-width:580px) {
    /* header .sty-head-mid {
        max-width: 20rem;
    } */

    .sty-content-credits {
        display: grid;
    }

    .cs-frag-70 {
        width: 85%;
    }

    .sty-top-fade {
        z-index: 5;
        box-shadow: 0 -60px 60px 50px var(--primary-color);
    }

    .sty-player-wizard {
        flex-direction: column;
    }

    .sty-player-bg, .sty-server-cont, .sty-iframe {
        width: 100%;
    }

    .sty-content-details {
        font-size: inherit;
        grid-template-columns: auto auto;
    }

    /* .sty-content-details a {
         grid-column-start: 1;
    } */

    .sty-content-plot {
        height: 60px;
    }

    .sty-side-menu {
        width: 50%;
    }

    .cs-postermax {
        width: 85%;
        /* height: 650px; */
    }

    .cs-overview {
        height: fit-content;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .sty-ply-container {
        height: 180px;
    }

    .sty-episode-container {
        grid-template-columns: auto;
        font-size: 14px;
        row-gap: 5px;
    }

    footer .sty-foot-left {
        margin: 0 auto 0 0;
    }

    footer .sty-foot-mid {
        display: none;
    }

    .sty-creator-card {
        width: 100px;
        height: 190px;
        margin: 5px;
    }

    .sty-creator-card .cr-name {
        font-size: 12px;
    }

    .sty-creator-card .cr-role {
        font-size: 10px;
    }

    .sty-m-hide {
        display: none;
    }

    .sty-m-font, footer {
        font-size: 12px;
    }

    .cs-title-head h3 {
        font-size: 25px;
    }

    .cs-title-head .con-tag {
        font-size: 14px;
    }

    .sty-content-card {
        width: 170px;
        height: 250px;
    }

    .carousel .carousel-vr {
        flex: 0 0 170px;
    }

    .carousel .carousel-vr img {
        height: 250px;
    }

    .cs-btn-max {
        height: 30px;
        border-radius: 30px;
        line-height: 30px;
    }
    .cs-btn-round {
        width: 30px;
    }

    .sty-sugg {
        left: 2%;
        width: -webkit-fill-available;
        right: 2%;
    }
}